{% extends '_layout.html' %}

{% block title %} reset password {% endblock %}

{% block content %}
    <div class="container customcontainer">
        <h1 class="contacts__title">reset pass of {{ user.name }}</h1>
        <form method="post" action="{% url 'reset_password_page' %}">
          {% csrf_token %}
          
          <div class="mb-3 resetinput">
            <label for="{{ reset_pass_form.password.id_for_label }}" class="form-label">
                {{ reset_pass_form.password.label_tag }}
            </label>
            <br>
            {{ reset_pass_form.password }}
            {{ reset_pass_form.password.errors }}
          </div>
          
          <div class="mb-3 resetinput">
            <label for="{{ reset_pass_form.confirm_password.id_for_label }}" class="form-label">
                {{ reset_pass_form.confirm_password.label_tag }}
            </label>
            <br>
                {{ reset_pass_form.confirm_password }}
                {{ reset_pass_form.confirm_password.errors }}
          </div>

          <div class="field button-field">
            <button type="submit" class="resetpassclass btn btn-primary">Reset Password</button>
          </div>
        </form>
        <button class="button button1" onclick="window.history.back();">back</button>
      </div>


{% endblock %}