{% extends '_layout.html' %}
{% load render_partial %}

{% block title %}
    dashboard
{% endblock %}

{% block content %}



<button id="modalBtn" class="button button1">Add New</button>

<div id="simpleModal" class="Modalss">
    <div class="modal-Content">
        <span class="closeBtn" id="closeBtn">&times;</span>
        <form class="formclass theform" id="theform" action=''>
            {% csrf_token %}

            <label for="name">Name:</label><br>
            <input class="imput" id="dataname" type="text" name="name" required placeholder="Your name.."><br>


            <label for="phone_number">Phone Number:</label><br>
            <input class="imput" id="datanumber" type="number" name="phone_number" required placeholder="Phone Number.."><br>


            <label for="email">Email:</label><br>
            <input class="imput-email" id="dataemail" type="email" name="email" required placeholder="Email.."><br>


            <button id="btnsubmit" onclick="sendData()">submit</button>

            {% if success_message %}
                <ul class="alert alert-success" role="alert">
                    {{ success_message }}
                </ul>
            {% endif %}
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </div>
</div>

<main>
    <ul class="contacts">
        {% for contact in contacts %}
            <li class="contact">
                <span class="delete">
                    <div class="col">
                        <a id="deleteButton" class="deleteButton" href="{% url 'delete_contact' contact.identifier %}">Delete</a>
                    </div>
                </span>
                <h4>Name: {{ contact.name }}</h4>
                <p class="email">Email: {{ contact.email }}</p>
                <p class="phone">Phone Number: {{ contact.phone_number }}</p>
            </li>
        {% endfor %}
    </ul>
  </main>

<button id="modalBtn" class="button button1">Reset Password</button>

<div id="simpleModal" class="Modalss">
    <div class="modal-Content">
        <span class="closeBtn" id="closeBtn">&times;</span>
        <h1 class="contacts__title">Reset Password of {{ user.name }}</h1>
            <form method="post" action="{% url 'reset_password_page' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="{{ reset_pass_form.password.id_for_label }}">{{ reset_pass_form.password.label_tag }}</label>
                    <input type="password" class="form-control" id="password" name="{{ reset_pass_form.password.html_name }}" required>
                    {{ reset_pass_form.password.errors }}
                </div>
                <div class="form-group">
                    <label for="{{ reset_pass_form.confirm_password.id_for_label }}">{{ reset_pass_form.confirm_password.label_tag }}</label>
                    <input type="password" class="form-control" id="confirmPassword" name="{{ reset_pass_form.confirm_password.html_name }}" required>
                    {{ reset_pass_form.confirm_password.errors }}
                </div>
                <div class="field button-field">
                    <button type="submit" class="resetpassclass btn btn-primary">Reset Password</button>
                    {% comment %} <button id="btnsubmit" onclick="sendData()">submit</button> {% endcomment %}
                </div>
            </form>
    </div>
</div>

<button class="button button1">
    <a href="{% url 'login_page' %}">
        logout
    </a>
</button>






{% endblock %}